{% extends "base.html" %}
{% load static %}

{% block header %}
Вход для пользователя
{% endblock %}

{% block body %}
<form action="{% url 'user:signin_user' phone %}" method="POST">
    {% if form.non_field_errors  %}
    <p class="text-danger">
        {{ form.non_field_errors }}
    </p>
    {% endif %}

    {% csrf_token %}

    <div class="form-label-group mb-3">
        <label for="{{form.otp_code.id_for_label}}">OTP-пароль</label>
        <input required id="{{form.otp_code.id_for_label}}" name="{{form.otp_code.name}}" value="" type="number"
            class="form-control" placeholder="OTP-пароль">
        {% if form.otp_code.errors %}
        <div class="alert-danger" role="alert">
            {{form.otp_code.errors }}
        </div>
        {% endif %}
    </div>

    <input required hidden id="{{form.phone_number.id_for_label}}" name="{{form.phone_number.name}}" value="{{phone}}"
        type="text" class="form-control" placeholder="phone_number">

    <button type="submit" class="btn btn-primary">Далее</button>
</form>
{% endblock body %}